<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<title> Home </title>
	<style>
		#mylink{
			font-size: 25px;
		}
	</style>
</head>
<body align='center'>
  <header>
		<h1>Home</h1>
		<button type="button" name="logout"><a href="/logout">Log Out</a></button>
	</header>
	<button type="button" id="user-management" onclick="switchPage()">User Management</button>
	<table>
		<tr>
			<th>Filename</th>
		</tr>
	</table>

	<script>
		const table = document.querySelector("table");

		const getFilenames = async () => {
			const res = await fetch('/videoApi/getVideoNames', {
				method: 'GET',
			});
			const data = await res.json();
			data.forEach((filename, i) => {
				let tr = `<tr> <td>${filename}</td> <td><button class="download">Download</button></td> </tr>`;
				table.innerHTML += tr;

				const downloads = document.querySelectorAll(".download");
				downloads.forEach((button, i) => {

					button.addEventListener('click', async () => {
						const res = await fetch("https://127.0.0.1:8000/videos?filename=" + data[i], {
							method: 'GET',
						});
						res.blob().then(blob => download(blob, data[i]));

						const download = (blob, filename) => {
							const url = window.URL.createObjectURL(blob);
							const a = document.createElement('a');
							a.style.display = 'none';
							a.href = url;
							a.download = filename;
							document.body.appendChild(a);
							a.click();
							document.body.removeChild(a);
							window.URL.revokeObjectURL(url);
						}
					});
				});
			});
		}

		function switchPage() {
			location.assign('/admin');
		}

		const adminButton = document.querySelector('#user-management');
		const tryAccess = async () => {
			try {
			 	const res = await fetch('/auth/tryAdminAccess', {
					method: 'GET',
					headers: { 'Content-Type': 'application/json' }
			 	});

			 	if(res.status === 200) {
					adminButton.style.visibility = "visible";
			 	}
				else {
					adminButton.style.visibility = "hidden";
				}
		 	} catch (err) {
			 	console.log(err.message)
		 	}
	}

	tryAccess();
	getFilenames();
</script>
</body>
</html>
