<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<title> Home </title>
	<style>
		#mylink{
			font-size: 25px;
		}
	</style>
</head>
<body align='center'>
  <header>
		<h1>Home</h1>
		<button type="button" name="logout"><a href="/logout">Log Out</a></button>
	</header>
	<button type="button" id="user-management" onclick="switchPage()">User Management</button>
	<br/><br/>
	<button type="button" id="toggle-archieve" onclick="toggleArchieve()">Show Archieve</button>

	<table>
		<tr>
			<th>Filename</th>
		</tr>
	</table>

	<script>
		const table = document.querySelector("table");
		let showArchieve = false;
		const archieveBtn = document.querySelector('#toggle-archieve');

		const getFilenames = async () => {
			let api = '/videoApi/getVideoNames';
			if (showArchieve == true) {
					api = '/videoApi/getArchieveNames';
			}

			const res = await fetch(api, {
				method: 'GET',
			});
			const data = await res.json();
			if (res.status == 404) {
				let tr = `<tr> <td>No Files Found</td> </tr>`;
				table.innerHTML += tr;
			}
			else {
				data.forEach((filename, i) => {
					let tr = `<tr> <td>${filename}</td> <td><button class="open"">Open Video</button></td> </tr>`;
					table.innerHTML += tr;

					const downloads = document.querySelectorAll(".open");
					downloads.forEach((button, i) => {
						button.addEventListener('click', async () => {
							openPlayer(data[i], showArchieve);
						});
					});
				});
			}
		};


		function switchPage() {
			location.assign('/admin');
		}

		function openPlayer(videoName, isArchieved) {
			location.assign('/mediaPlayer?videoName=' + videoName + '&archieved=' + isArchieved);
		}

		function toggleArchieve() {
			if (showArchieve == true) {
				showArchieve = false;
				archieveBtn.textContent = 'Show Archieve';
				table.innerHTML = '';
			}
			else {
				showArchieve = true;
				archieveBtn.textContent = 'Show new Videos';
				table.innerHTML = '';
			}

			getFilenames();
		}

		const adminButton = document.querySelector('#user-management');
		const tryAccess = async () => {
			try {
			 	const res = await fetch('/auth/tryAdminAccess', {
					method: 'GET',
					headers: { 'Content-Type': 'application/json' }
			 	});

			 	if(res.status === 200) {
					adminButton.style.visibility = "visible";
			 	}
				else {
					adminButton.style.visibility = "hidden";
				}
		 	} catch (err) {
			 	console.log(err.message)
		 	}
	}

	tryAccess();
	getFilenames();
</script>
</body>
</html>
